@use "../../sass/variables" as *;



.pay-modal {
    background-color: $bg-modal;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &__card-modal {
        background-color: $white;
        width: 1260px;
        height: 919px;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
        border: none;
        border-radius: 60px;
        display: flex;
        justify-content: center;
        gap: 80px;
    }

    &__info {
        padding-top: 160px;
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: 40px;
        font-weight: 700;
        color: $dnc-blue;
        margin-bottom: 20px;
    }

    &__confirmation-inputs {
        min-width: 500px;
        margin-top: 15x;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    label {
        font-size: 20px;
        font-weight: 400;
    }

    &__confirmation-input {
        height: 50px;
        background: rgba(255, 255, 255, 0.9);
        border: 2px solid #7A7A7A;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 400;
        padding-left: 15px;
        margin-bottom: 15px;
    }

    &__container-btn {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    &__confirmation-send {
        width: 400px;
        height: 55px;
        background-color: $dnc-blue;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
        border-radius: 10px;
        border: none;
        color: #fff;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 30px;
        cursor: pointer;
    }

    &__confirmation-send:hover {
        background-color: $dnc-light-blue;
    }

    a {
        color: $white;
        text-decoration: none;
    }
}

.closeM {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    left: 870px;
    cursor: pointer;
    top: 50px;
    display: flex;
    position: relative;
    align-items: center;

    &:before,
    &:after {
        content: " ";
        position: absolute;
        width: 2.5px;
        height: 32px;
        background-color: #000;
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}