$dnc-black: #2D2D2D;
$dnc-blue: #0C70F2;
$dnc-dark-blue:#004dd7;
$dnc-light-blue: #00ABFF;
$dnc-white: #F5F5F5;
$dnc-link: #00D7EE;
$black-text: #000000;
$black: #000;
$white: #fff;
$bg-modal: #d9d9d98f;
$text_black_66: 00000066; 
$text_black_40: 00000040; 