@use "../../sass/variables" as *;

.section-product-details{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $black;
  background-color: $dnc-white;
  padding: 50px;

  h1{
    font-size: 30px;
  }

}
