@use "../../sass/variables" as *;

.banner__slide{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black-dnc;
  width: 100vw;
}

.swiper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1440px;
  height: 400px;
  
}
.swiper-pagination-bullet {
  background-color: #ff7c17;
  align-self: center;
  overflow: hidden;
}



.swiper-slide img {
  display: block;
  width: 100%;
  
}
